<form action="/result" method="post" enctype="multipart/form-data">
    <input type="text" name="message" placeholder="Enter Message" />
    <input type="file" name="pdf" placeholder="Enter PDF">
    <input type="file" name="pdf2" placeholder="Enter PDF">
    <button type="submit">Submit</button>
</form>