<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">
<main>
  <div class="jumbotron">
    <h1>WA Bulk Messager</h1>
    <p>Welcome to WA Messager</p>
    <%- include('../partials/form'); %>
  </div>
</main>

</body>
</html>